extends layout

block content
  h1= title
  p(align="center"): h4 Welcome to #{myapp}
  p Aplikasi ini masih sangat sederhana.. hanya bisa membaca dan input data
  p untuk edit,delet dan melihat detail data belom bisa
  p semangat BELAJAT GUYS  !!!
