doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
  body
    ul(class="nav nav-tabs")
      li(class="active"): a(href="/") Home
      li: a(href="/book") Book
      li: a(href="/book/newbook") Add New Book
      li: a(href="/book") RedTube
      li: a(href="/book") JAV HD
      li: a(href="/book") Help
    block content
